@font-face {
  font-family: myFirstFont;
  src: url(JockeyOne-Regular.otf);
}

html 
{
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

header 
{
  background: #333333;
  width: 100%;
  height: 225px;
  margin-bottom: 20px;
  border-bottom: solid gray 2px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#number
{
  text-align: center;
  font-size: 40px;
  color: #66c2ff;
  text-shadow: 3px 2px black;
}

nav
{
  text-align: center;
}

ul.nav li
{   
  display: inline; 
  padding: 10px; 
  font-size: 40px;
}

a:link 
{ 
  color: #C9E4CA;
} 

a:visited 
{ 
  color: #E0D8DE; 
} 

a:hover 
{ 
/*  color: #00B1C9; Nice blue color*/ 
  text-decoration: none;
}

img
{
  display: block;
  margin: 0 auto;
}

/*START BODY HERE*/ #3B6064

.clear
{
  clear: both;
}

body
{
background-color: black;
}

#title
{
  padding-bottom: 10px;
  width: 1000px;
  margin: 0 auto;
  font-size: 40px;
  color: #A7C770;
  font-family: myFirstFont;
}

.bodywrapper
{
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background: #333333;
  border-radius: 15px;
  border: solid gray 2px;
}

#textwrapper
{
  width: 600px;
  float: left;
  margin-top: 10px;
}

#textwrapper p
{
  padding: 3px;
  margin: 20px 0 20px 10px;
}

.aboutme
{
  color: #E0D8DE;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


#images img
{
  padding: 20px;
}


/*START FOOTER HERE*/

footer
{
  background-color: #333333;
  border-top: solid gray 3px;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  text-align: center;
}
#buttons a
{
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

#credit{
  font-size: 20px;
  color: white;
  font-family: 'Condiment', cursive;
}
