@font-face {
  font-family: myFirstFont;
  src: url(JockeyOne-Regular.otf);
}

html 
{
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

header 
{
  background: #333333;
  width: 100%;
  height: 225px;
  margin-bottom: 20px;
  border-bottom: solid gray 2px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#number
{
  text-align: center;
  font-size: 40px;
  color: #66c2ff;
  text-shadow: 3px 2px black;
}

.slide-out-div {
    padding: 20px;
    width: 130px;
    background: white;
    border: 1px solid #29216d;
}  

nav
{
  text-align: center;
}

ul.nav li
{   
  display: inline; 
  padding: 10px; 
  font-size: 40px;
}


a:link 
{ 
  color: #C9E4CA;
} 

a:visited 
{ 
  color: #E0D8DE; 
} 

a:hover 
{ 
/*  color: #00B1C9; Nice blue color*/ 
  text-decoration: none;
}

img
{
  display: block;
  margin: 0 auto;
}

/*START BODY OF PAGE HERE*/

body
{
  background-color: black;
}

#myTypingText {
  text-align: center;
  margin: 10px auto;
  width: 100%;
  height: 60px;
  color: #B84A62;
  font-family:Arial, Helvetica, sans-serif;
        font-size: 40px;
  line-height: 1.5em;
}


#beyou
{
  width: 900px;
  border-radius: 45px;
  background-color: white;
  height:500px;
  margin-top: 40px;
  margin: auto;
}

#homepic
{
  height:500px;
  width: 900px;
}

.bg1 
{
  background-image: url(../images/home.jpg);
  -webkit-background-size: cover;
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
  border-radius: 45px;
}

.clear
{
  clear: both;
}

.wrapper
{
  background: #333333;
  width: 953px;
  height: 365px;
  margin: 10px auto;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.box
{
  width: 300px;
  height:340px;
  text-align: center;
  float: left;
  display: inline-block;
  margin-top: 10px; 
  margin-left: 10px;
  border: solid 2px #E0D8DE;

}

div#insta
{
  width: 659px ;
  margin: 0 auto;
}

#badge
{
  text-align: center;
  margin-bottom: 10px;
}

.icons 
{
  width: 60px;
  height: auto;
  margin-top: 20px;
}

.motivation
{
  font-size: 20px;
  color: #A7C770;
  font-family: 'Roboto', sans-serif;
}

.motititle
{
  font-size: 40px;
  color: #E0D8DE;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-family: myFirstFont;
}

footer
{
  background-color: #333333;
  border-top: solid gray 3px;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  text-align: center;
}

#buttons a
{
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

#credit{
  font-size: 20px;
  color: white;
  font-family: 'Condiment', cursive;
}

